@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<proje3.Data.Models.Food>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Food List</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Food Name</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>İmage</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.FoodId</td>
            <td>@x.FoodName</td>
            <td>@x.Category.CategoryName</td>
            <td>@x.FoodDescription</td>
            <td>@x.FoodPrice</td>
            <td>@x.FoodStock</td>
            <td>@x.FoodImageUrl</td>
            <td><a href="/Food/FoodDelete/@x.FoodId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Food/FoodGet/@x.FoodId" class="btn btn-info">Update</a></td>
            <td><a href="#" class="btn btn-primary">Details</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page }))
<a href="/Food/FoodAdd" class="btn btn-success">New Food</a>


